@import "src/common/style/scss/variables";

.worksBlock {
  min-height: 100vh;
  background-color: $bgSecondColor;

  .worksContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

    .work {
      margin-top: 10px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @media screen and (max-width: 629px) {
        justify-content: center;
      }
    }
  }
}






