@import "src/common/style/scss/variables";

.skillsBlock {
  min-height: 100vh;
  background-color: $bgFirstColor;

  .skillsContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

    .skills {
      margin-top: 25px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @media screen and (max-width: 629px) {
        justify-content: center;
      }
    }
  }
}




